.ArtistPost {
    background: black;
  }
  
  .ArtistPost--Content {
    background: rgb(0, 0, 0);
    padding: 8rem 8rem 4rem 18rem;
  }
  
  @media screen and (max-width: 750px) {
    .ArtistPost--Content {
      padding: 4rem 2rem;
    }
  }

  .scroll {
    background-color: rgb(9, 21, 24);
    width: 50%;
    height: 100px;
    overflow: scroll;
    text-align: center;
    margin-top:40px;
  }
  
  .ArtistPost--Meta {
    font-size: 1rem;
    margin: 0 0 2rem 0;
    text-align: center;
  }
  
  .ArtistPost--Meta > * + * {
    margin-left: 0.75em;
  }
  
  .ArtistPost--Title {
    text-align: center;
    line-height: 1.2;
  }
  
  .ArtistPost--InnerContent {
    padding: 0 8rem;
  }


  
  .ArtistPost--Pagination {
    margin: 4rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .ArtistPost--Pagination--Link {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
  }
  
  .ArtistPost--Pagination--Link.next {
    margin-left: auto;
  }
  
.card {
  width: '600px';
  margin: '40px auto';
  background-color: '#F7F7E9';
  color: '#444';
  overflow: 'hidden // clearfix';
  box-shadow: '5px 5px 0 0 #aaa';
}

  h1 {
    margin: '0';
    padding: '20px';
    text-align: 'center';
    background-color: '#4DD65F';
    animation: 'fadein 1.2s'
  }
  
  img {
    top: 50%;
    left: 50%;
    animation: 'grow 0.6s';
    max-width: 70%;
    max-height: 400px;
    height: auto;
    margin:'10px';

  }

.item {

text-align: center;
  padding:'10px';
  margin:'10px';

}



  .text-holder {
    width:50%;
}
.right {
  float: left;
}
.pg1-2-txt {
  width:80%;
  color:'white';
  font-size:'12px';
  text-align:left;
  margin:0 auto;
  padding:1em;
  overflow:scroll;
  height:1100px;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.pg1-2-txt::-webkit-scrollbar { 
  display: none; 
}

.vid {
  width:50%;
  text-align:center;

}

.smlist {
  font-size: 15px;
}

@media (max-width: 643px) {
  .ArtistPost--InnerContent {
    padding: 0;
  }

  .text-holder {
    width:100%;
}
.right {
  float: center;
}
.pg1-2-txt {
  color:'blue';
  font-size:'12px';
  text-align:center;
  margin:0 auto;
  padding:1em;
  overflow:scroll;
  height:1100px;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.vid {
  width:100%;
  text-align:center;
}

.pg1-2-txt::-webkit-scrollbar { 
  display: none; 
}

.scroll {
  background-color: rgb(9, 21, 24);
  width: 100%;
  height: 100px;
  overflow: scroll;
  text-align: center;
  margin-top:40px;
}
}

@media (max-width: 397px) {
  .smlist {
  font-size: 11px;
  }
  }

  .example_c {
    color: #ffffff !important;
    text-transform: uppercase;
    background: #000000;
    font-size:14px;
    padding: 20px;
    opacity:0.9;
    border: 4px solid #ffffff !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    width: 170px;
    }
    .example_c:hover {
      color: #00ff1e !important;
      border-radius: 50px;
      border-color: #2bf203 !important;
      transition: all 0.3s ease 0s;
      }

   .posit {
    float: right;
    width:80%;
    color:'white';
    font-size:'12px';
    margin:0 auto;
   }