@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.Blog {
  margin-top:70px;
}


h1.artistTitle {
  margin-top: 20px;
}

h1.shows {
  padding-left: 32px;
  padding-bottom: 0px;
  background-position: 0px 15px;
}
.artistBTN {
  width: 138px;
}
.ArtistPost {
    background: black;
  }
  
  .ArtistPost--Content {
    background: rgb(0, 0, 0);
    padding: 8rem 8rem 4rem 18rem;
  }

  #particles-js {
    width: 100%;
    height: 100%;
    z-index: -10;
    top: 0;
    left: 0
}

  #demoObject {
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 2px 5px 12px 5px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 2px 5px 12px 5px rgba(0,0,0,0);
    background: #ECEFCF;
    }
    body#tinymce {
    background: #FFFFFF
    }

.titleflex {
  text-align:center; 
  opacity: 1.7; 
  font-size:45px;  
  margin-bottom:-6px
}    
  
  @media screen and (max-width: 750px) {
    .ArtistPost--Content {
      padding: 4rem 2rem;
    }

    .titleflex {
      text-align:center; 
      opacity: 1.7; 
      font-size:45px;  
      margin-bottom:-6px
    } 
  }

  .scroll {
    overflow: scroll;
    margin-top: 10px;
    height: 200px;
  }
  
  .ArtistPost--Meta {
    font-size: 1rem;
    margin: 0 0 2rem 0;
    text-align: center;
  }
  
  .ArtistPost--Meta > * + * {
    margin-left: 0.75em;
  }
  
  .ArtistPost--Title {
    text-align: center;
    line-height: 1.2;
  }
  
  .ArtistPost--InnerContent {
    padding: 0 8rem;
  }


  
  .ArtistPost--Pagination {
    margin: 4rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .ArtistPost--Pagination--Link {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
  }
  
  .ArtistPost--Pagination--Link.next {
    margin-left: auto;
  }
  
.card {
  padding:0;
  margin: 0px 69px;
  overflow:hidden;
}
  
  img {
    width: 100%;
  }

  .thisone {

}

.shadow {
}

.item {

text-align: center;
  padding:'10px';
  margin:'10px';
}



  .text-holder {
    width:48%;
}
.right {
  float: left;
}
.pg1-2-txt {
  color:'white';
  font-size:'12px';
  text-align:left;
  margin-left: 69px;
  margin-right: 69px;
  overflow:scroll;
  height: 850px;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.pg1-2-txt::-webkit-scrollbar { 
  display: none; 
}

.vid {
  width:49%;
  height:380px;
  text-align:center;
  margin-right:-30px;
}

.sc {
  width:49%;
  height:320px;
  text-align:center;
  margin-right:-30px;
}

.marginbox {
  margin-right: 69px;

}

.smlist {
  font-size: 15px;
}

@media (max-width: 768px) {
  .ArtistPost--InnerContent {
    padding: 0;
  }

  .titleflex {
    text-align:center; 
    opacity: 1.7; 
    font-size:35px;  
    margin-bottom:-6px
  } 

  .text-holder {
    width:100%;
}
.right {
  float: center;
}
.pg1-2-txt {
  text-align:left;
  margin:0 auto;
  padding:1em;
  overflow:scroll;
  height: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.marginbox {
  margin-right:60px;
  margin-left: 60px;
  margin-top: 10px;

}

.vid {
  width:100%;
  height:310px;
  text-align:center;

}
.sc {
  width:100%;
  height:260px;
  text-align:center;

}

.pg1-2-txt::-webkit-scrollbar { 
  display: none; 
}

}

@media (max-width: 768px) {
  .Blog {
  margin-top:60px;
}
.card {
  padding:0;
  margin: 0px 20px;
  overflow:hidden;
}
.marginbox {
  margin-right:20px;
  margin-left: 20px;
}
.scroll {
  width: 100%;
  height: auto;
  overflow: scroll;
  text-align: left;
  margin-top:0px;
}

}



@media (max-width: 397px) {
  .smlist {
  font-size: 11px;
  }
  }


  .example_c {
    color: #ffffff !important;
    text-transform: uppercase;
    background: #000000;
    font-size:14px;
    padding: 20px;
    opacity:0.9;
    border: 4px solid #ffffff !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    width: 170px;
    }
    .example_c:hover {
      color: #00ff1e !important;
      border-radius: 50px;
      border-color: #2bf203 !important;
      transition: all 0.3s ease 0s;
      }

   .posit {
    float: right;
    width:80%;
    color:'white';
    font-size:'12px';
    margin:0 auto;
   }

   @media (max-width: 380px) { 

    .vid {
      width:100%;
      height:220px;
      text-align:center;
    
    }

    .titleflex {
      text-align:center; 
      opacity: 1.7; 
      font-size:22px;  
      margin-bottom:-4px
    } 

    .sc {
      width:100%;
      height:160px;
      text-align:center;
    
    }
  
  
  }