/* Artists Link*/

.home-artists-links p {
  font-family: 'dinBoldFont', sans-serif;
  font-size: 2.6rem;
  margin-left: 69px;
  margin-right: 69px;
}

a:hover {
  border-bottom-color: transparent;
  color: #f8ec21;
}

.home-artists-links a:hover {
  border-bottom-color: transparent;
  color: #ef4137;
}

.slider {
  width: 75%;
  padding-top: 42.1875%;
  margin-top: -42.1875%;
  margin-bottom: 43.1875%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
      background-size: cover;
    animation:fade 8s infinite;
-webkit-animation:fade 8s infinite;

} 
.slide2 {
      background-size: cover;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.slide3 {
    
      background-size: cover;
    animation:fade3 
    8s infinite;
-webkit-animation:fade3 8s infinite;
}
.slide4 {
    
  background-size: cover;
animation:fade4 8s infinite;
-webkit-animation:fade4 8s infinite;
}
.slide5 {
    
  background-size: cover;
animation:fade5 8s infinite;
-webkit-animation:fade5 8s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

@keyframes fade4
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0}
  100% { opacity: 0}
}

@keyframes fade5
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

.dropdown-button {
  background-color: #0000b3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-list {
  display: none;
  position: absolute;
  background-color: #000000;
  border:1px;
  color:white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  columns:2;
}
/* Links inside the dropdown */
.dropdown-list a {
  color: rgb(255, 255, 255);
  padding: 6px 6px;
  border:1px;
  text-decoration: none;
  display: block;
  font-family: verdana;
}
/* Change color of dropdown links on hover */
.dropdown-list a:hover {
  background-color: rgb(0, 52, 164);
}
/* Show the dropdown list on hover */
.dropdown:hover .dropdown-list {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown list is shown */
.dropdown:hover .dropdown-button {
  background-color: #6666ff;
}
@media (max-width: 600px) {
  .slider {
    width:100%;
    padding-top: 56.25%;
    margin-top: -56.25%;
    margin-bottom: 56.25%;
  }
  h1 {
    margin: 20px 0px;
    padding-left: 52px;
    background-position: 20px 15px;
  }
  section.hide {
    display:none;
  }
  .home-artists-links p {
    font-size: 2.1rem;
    margin: 0px 20px;
  }
  .Buzz h1 {
    margin-top: 0px;
    margin-bottom: 60px;
  }
}