*, *::after, *::before { box-sizing: border-box }
* {margin: 0; padding: 0;}
.slider {
    max-width: 100%;
    height: 300px;
    margin: 20px auto;
    position: relative;
  }
  .slide1,.slide2,.slide3,.slide4,.slide5 {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .slide1 {
    background: url(https://ucarecdn.com/907d14cc-f627-450c-9416-74a81de8630c/)no-repeat center;
        background-size: cover;
      animation:fade 12s infinite;
  -webkit-animation:fade 12s infinite;
  
  } 
  .slide2 {
    background: url(https://ucarecdn.com/903af7c7-30cc-4464-8d0a-3c34ec70bef2/)no-repeat center;
        background-size: cover;
      animation:fade2 12s infinite;
  -webkit-animation:fade2 12s infinite;
  }
  .slide3 {
      background: url(https://ucarecdn.com/8e02e871-5941-4839-9c47-b97a503e17d5/)no-repeat center;
        background-size: cover;
      animation:fade3 12s infinite;
  -webkit-animation:fade3 12s infinite;
  }
  @keyframes fade
  {
    0%   {opacity:1}
    33.333% { opacity: 0}
    66.666% { opacity: 0}
    100% { opacity: 1}
  }
  @keyframes fade2
  {
    0%   {opacity:0}
    33.333% { opacity: 1}
    66.666% { opacity: 0 }
    100% { opacity: 0}
  }
  @keyframes fade3
  {
    0%   {opacity:0}
    33.333% { opacity: 0}
    66.666% { opacity: 1}
    100% { opacity: 0}
  }