.ArtistCard {
    text-decoration: none;
    text-align: center;
    color: inherit;
    transition: all 0.15s ease-in-out;
    overflow: hidden;
    opacity: 0.7;
  }
  
  .ArtistCard:hover,
  .ArtistCard:focus {
    transform: translateY(-1px);
    opacity:1.5;
    color:#ef4137;
  }
  
  .ArtistCard--Image {
    margin: 0 0 2rem 0;
    width: 100%;
    padding-top: 56.25%;
  }
  
  .ArtistCard--Title {
    font-size: 2.2rem;
    margin: 0;
  }
  
  .ArtistCard--Content {
    padding: 0 1.5rem 1.5rem;
  }
  
