a:hover {
  border-bottom-color: transparent;
  color: #ef4137;
}

.Buzz a:hover {
  border-bottom-color: transparent;
  color: #814199;
}
.Prod a:hover {
  border-bottom-color: transparent;
  color: #1895d3;
}
.ArtistSection--Grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top:-60px;
}

.ArtistSection button {
  margin-top: 1rem;
  margin-top: 5rem;
  background: rgb(1, 39, 255);
  border: 2px solid black;
  padding: 1rem 2rem;
  cursor: pointer;
}

.ArtistSection button:hover {
  background: black;
  border: 2px solid rgb(0, 0, 0);
  color: #ef4137;
}

.ArtistSection--Grid > * {
  width: calc(33.33% - 2rem);
  margin-bottom: 2rem;

}

@supports (display: grid) {
  .ArtistSection--Grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
  }

  .ArtistSection--Grid > * {
    width: auto;
    margin: 0;
  }
}

.ArtistSection--Title {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 4rem auto;
  line-height: 1.2;
}

@media screen and (max-width: 1400px) {
  .ArtistSection--Grid > * {
    width: 100%;
    max-width: 50rem;
    display: block;
  }

  @supports (display: grid) {
    .ArtistSection--Grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .ArtistSection--Grid > * {
    width: 100%;
    max-width: 50rem;
    display: block;
  }

  @supports (display: grid) {
    .ArtistSection--Grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }
  }
}
@media screen and (max-width: 600px) {

  @supports (display: grid) {
    .ArtistSection--Grid {
      display: block;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0rem;
    }
  }
}