.ArtistCard {
    text-decoration: none;
    text-align: center;
    background: rgb(0, 0, 0);
    color: inherit;
    border: 14px solid rgb(16, 16, 16);
    border-radius: var(--borderRadius);
    box-shadow: 0 6px 30px rgba(133, 18, 18, 0.1);
    transition: all 0.15s ease-in-out;
    overflow: hidden;
  }
  
  .ArtistCard:hover,
  .ArtistCard:focus {
    transform: translateY(-1px);
    opacity:1.5;
    box-shadow: 0 2px 30px rgba(255, 8, 8, 0.15);
  }
  
  .ArtistCard--Image {
    margin: 0 0 2rem 0;
    width: 100%;
    height: 20rem;
  }
  
  .ArtistCard--Title {
    margin: 0;
  }
  
  .ArtistCard--Content {
    padding: 0 1.5rem 1.5rem;
  }
  
