.Gallery {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .Gallery {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.Gallery--Item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 5rem);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .Gallery--Item {
    width: 100%;
  }
}

.Gallery--Item > div {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.Gallery--Item figcaption {
  font-family: 'dinFont', sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  text-align: left;
  padding: 1rem 0;
}

@supports (object-fit: cover) {
  .Gallery--Item img {
    width: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}
