.PostCard {
  text-decoration: none;
  background: rgb(0, 0, 0);
  color: inherit;
  border-radius: var(--borderRadius);
  box-shadow: 0 6px 30px rgba(255, 255, 255, 0.1);
  transition: all 0.15s ease-in-out;
  overflow: hidden;
}


.PostCard--Image {
  margin: 0 0 2rem 0;
  width: 100%;
  padding-top: 56.25%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.PostCard--excerpt {
  margin: 0;
}

.PostCard--Content {
  font-family: 'dinBoldFont', sans-serif;
  font-size: 2.2rem;
}

.PostCard--Category {
  font-size: 1.2rem;
  min-height: 1.2em;
  line-height: 1;
  margin: 0.5em 0;
}

.PostCard--Image:hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);  
}

.PostCard--Image:hover  {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.PostCard--Image:hover:after {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transform: scale(1);
  transform: scale(1);  
}


.PostCard:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}
