.PostSection {
  padding-top: 0px;
}
.Buzz .PostSection {
  padding-top: 60px;
}

.PostSection--Grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top:-60px;
}

.PostSection button {
  margin-top: 1rem;
  margin-top: 5rem;
  background: rgb(1, 39, 255);
  border: 2px solid black;
  padding: 1rem 2rem;
  cursor: pointer;
}

.PostSection button:hover {
  background: black;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(82, 166, 201);
}

.PostSection--Grid > * {
  width: calc(33.33% - 2rem);
  margin-bottom: 2rem;

}

@supports (display: grid) {
  .PostSection--Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }

  .PostSection--Grid > * {
    width: auto;
    margin: 0;
  }
}

.PostSection--Title {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 4rem auto;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .PostSection--Grid > * {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto 4rem;
    display: block;
  }

  @supports (display: grid) {
    .PostSection--Grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2;
    }
  }
}
@media (max-width: 600px) {
  .PostSection {
  padding-top: 0px;
}
.PostSection--Grid > * {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto 4rem;
    display: block;
  }

  @supports (display: grid) {
    .PostSection--Grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0;
    }
  }

}