.PostCategoriesNav {
  margin-top: -1rem;
  text-align:right;
  margin-right: 69px;

}

.PostCategoriesNav > * + * {
  margin-left: 1rem;
}

.PostCategoriesNav input[type='text'] {

  border: 0;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  color: black;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.PostCategoriesNav input[type='text']:focus {
  outline: none;
}

.PostCategoriesNav input[type='text']::placeholder {
  color: black;
}

@media (max-width: 600px) {
  .PostCategoriesNav input[type='text'] {
    position: relative;
    width: 50%;
  }
  .PostCategoriesNav {
  margin-right: 20px;

}
}
